@import '../abstracts/variables';
@import '../abstracts/mixin';

.header {
    height: 37px;
    margin: 23px 28px;
    position: relative;


    @media (min-width: $tablet) {
        margin: 0 80px;
    }

    @media (min-width: $desktop) {
        margin: 0 195px;
    }
}

.header__burger-menu {
    height: 37px;
    width: 44px;
    background: #000000;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    .header__btn {
        top: 0;
        left: 0;
        position: absolute;
        z-index: 2;
    }

    .header__btn--press {
        display: none;
    }

    .js-active {
        display: block;
    }

    @media (min-width: $tablet) {
        display: none;
    }
}

.drop-down {
    display: none;

    @media (min-width: $tablet) {
        display: block;
    }
}

.header__nav {
    position: absolute;
    right: 0;
    top: 37px;

    @media (min-width: $tablet) {
        margin-top: 41px;
        position: relative;
        top: 0;
    }
}

.header__nav-list {
    @include flex(column);
    color: $primary-color;
    font-size: 16px;
    line-height: 22px;
    background: $background-color;
    width: 182px;

    li {
        font-size: 11px;
        text-transform: uppercase;
        list-style: none;
        letter-spacing: 1.1px;
        padding-left: 14px;

        &:first-child>a {
            color: #57A4A4;
        }

        &:hover {
            background: #E5E5E5;
        }
    }

    a {
        text-decoration: none;
        color: $primary-color;
    }

    @media (min-width: $tablet) {
        @include flex;
        width: 100%;
        padding: 0 47px;
        background: #fff;
        box-sizing: border-box;
        right: 0;
        top: 0;
    }

    @media (min-width: $desktop) {
        padding: 0 149px;

    }
}